body {
	font:13px/18px "Roboto", Arial, Helvetica, sans-serif;
	color:#000;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
/*a {
	color:#000
}*/
/*a:hover, a:focus, a:active {
	outline:0 !important;
	text-decoration:none
}
a:hover {
	color:#21242b;
	text-decoration:underline
}*/
.clearfix:before, .clearfix:after {
	content:" ";
	display:table
}
.fix:after {
	clear:both
}
.aligncenter {
	display:block;
	margin:0px auto 20px auto;
	text-align:center
}
.alignright {
	float:right;
	margin:10px 0 10px 10px
}
.alignleft {
	float:left;
	margin:10px 10px 10px 0
}
.left {
	float:left
}
.right {
	float:right
}
.text-left {
	text-align:left
}
.text-right {
	text-align:right
}
.text-center {
	text-align:center
}
.text-justify {
	text-align:justify
}
.text-nowrap {
	white-space:nowrap
}
.text-lowercase {
	text-transform:lowercase
}
.text-uppercase {
	text-transform:uppercase
}
.text-capitalize {
	text-transform:capitalize
}
.no-margin {
	margin:0
}
.no-padding {
	padding:0
}
.fs11 {
	font-size:11px
}
.fs12 {
	font-size:12px
}
.fs13 {
	font-size:13px
}
.fs14 {
	font-size:14px
}
.fs15 {
	font-size:15px
}
.fs16 {
	font-size:16px
}
.fs17 {
	font-size:17px
}
.fs18 {
	font-size:18px
}
.fs19 {
	font-size:19px
}
.fs20 {
	font-size:20px
}
.fs21 {
	font-size:21px
}
.fs22 {
	font-size:22px
}
.fs23 {
	font-size:23px
}
.fs24 {
	font-size:24px
}
.fs25 {
	font-size:25px
}
.fs26 {
	font-size:26px
}
.fs27 {
	font-size:27px
}
.fs28 {
	font-size:28px
}
.fs29 {
	font-size:29px
}
.fs30 {
	font-size:30px
}
.pdd-20 {
	padding:20px
}
.pdd-18 {
	padding:18px
}
.pdd-16 {
	padding:16px
}
.pdd-14 {
	padding:14px
}
.pdd-12 {
	padding:12px
}
.pdd-10 {
	padding:10px
}
.pdd-8 {
	padding:8px
}
.pdd-6 {
	padding:6px
}
.pdd-4 {
	padding:4px
}
.pdd-2 {
	padding:2px
}
.pddt-20 {
	padding-top:20px
}
.pddt-18 {
	padding-top:18px
}
.pddt-16 {
	padding-top:16px
}
.pddt-14 {
	padding-top:14px
}
.pddt-12 {
	padding-top:12px
}
.pddt-10 {
	padding-top:10px
}
.pddt-8 {
	padding-top:8px
}
.pddt-6 {
	padding-top:6px
}
.pddt-4 {
	padding-top:4px
}
.pddt-2 {
	padding-top:2px
}
.pddr-20 {
	padding-right:20px
}
.pddr-18 {
	padding-right:18px
}
.pddr-16 {
	padding-right:16px
}
.pddr-14 {
	padding-right:14px
}
.pddr-12 {
	padding-right:12px
}
.pddr-10 {
	padding-right:10px
}
.pddr-8 {
	padding-right:8px
}
.pddr-6 {
	padding-right:6px
}
.pddr-4 {
	padding-right:4px
}
.pddr-2 {
	padding-right:2px
}
.pddb-20 {
	padding-bottom:20px
}
.pddb-18 {
	padding-bottom:18px
}
.pddb-16 {
	padding-bottom:16px
}
.pddb-14 {
	padding-bottom:14px
}
.pddb-12 {
	padding-bottom:12px
}
.pddb-10 {
	padding-bottom:10px
}
.pddb-8 {
	padding-bottom:8px
}
.pddb-6 {
	padding-bottom:6px
}
.pddb-4 {
	padding-bottom:4px
}
.pddb-2 {
	padding-bottom:2px
}
.pddl-28 {
	padding-left:28px
}
.pddl-26 {
	padding-left:26px
}
.pddl-24 {
	padding-left:24px
}
.pddl-22 {
	padding-left:22px
}
.pddl-20 {
	padding-left:20px
}
.pddl-18 {
	padding-left:18px
}
.pddl-16 {
	padding-left:16px
}
.pddl-14 {
	padding-left:14px
}
.pddl-12 {
	padding-left:12px
}
.pddl-10 {
	padding-left:10px
}
.pddl-8 {
	padding-left:8px
}
.pddl-6 {
	padding-left:6px
}
.pddl-4 {
	padding-left:4px
}
.pddl-2 {
	padding-left:2px
}
.mrg-20 {
	margin:20px
}
.mrg-18 {
	margin:18px
}
.mrg-16 {
	margin:16px
}
.mrg-14 {
	margin:14px
}
.mrg-12 {
	margin:12px
}
.mrg-10 {
	margin:10px
}
.mrg-8 {
	margin:8px
}
.mrg-6 {
	margin:6px
}
.mrg-4 {
	margin:4px
}
.mrg-2 {
	margin:2px
}
.mrgt-20 {
	margin:20px
}
.mrgt-18 {
	margin:18px
}
.mrgt-16 {
	margin:16px
}
.mrgt-14 {
	margin:14px
}
.mrgt-12 {
	margin:12px
}
.mrgt-10 {
	margin:10px
}
.mrgt-8 {
	margin:8px
}
.mrgt-6 {
	margin:6px
}
.mrgt-4 {
	margin:4px
}
.mrgt-2 {
	margin:2px
}
.mrgr-20 {
	margin:20px
}
.mrgr-18 {
	margin:18px
}
.mrgr-16 {
	margin:16px
}
.mrgr-14 {
	margin:14px
}
.mrgr-12 {
	margin:12px
}
.mrgr-10 {
	margin:10px
}
.mrgr-8 {
	margin:8px
}
.mrgr-6 {
	margin:6px
}
.mrgr-4 {
	margin:4px
}
.mrgr-2 {
	margin:2px
}
.mrgl-20 {
	margin:20px
}
.mrgl-18 {
	margin:18px
}
.mrgl-16 {
	margin:16px
}
.mrgl-14 {
	margin:14px
}
.mrgl-12 {
	margin:12px
}
.mrgl-10 {
	margin:10px
}
.mrgl-8 {
	margin:8px
}
.mrgl-6 {
	margin:6px
}
.mrgl-4 {
	margin:4px
}
.mrgl-2 {
	margin:2px
}
.mrgr-20 {
	margin:20px
}
.mrgr-18 {
	margin:18px
}
.mrgr-16 {
	margin:16px
}
.mrgr-14 {
	margin:14px
}
.mrgr-12 {
	margin:12px
}
.mrgr-10 {
	margin:10px
}
.mrgr-8 {
	margin:8px
}
.mrgr-6 {
	margin:6px
}
.mrgr-4 {
	margin:4px
}
.mrgr-2 {
	margin:2px
}
.fbtn, .fbtn1, .fbtn2, .fbtn3, .fbtn4, .fbtn5, .fbtn6 {
	display:inline-block;
	margin-bottom:0;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.fbtn:focus, .fbtn1:focus, .fbtn2:focus, .fbtn3:focus, .fbtn4:focus, .fbtn5:focus, .fbtn6:focus, .fbtn:active:focus, .fbtn1:active:focus, .fbtn2:active:focus, .fbtn3:active:focus, .fbtn4:active:focus, .fbtn5:active:focus, .fbtn6:active:focus, .fbtn.active:focus, .active.fbtn1:focus, .active.fbtn2:focus, .active.fbtn3:focus, .active.fbtn4:focus, .active.fbtn5:focus, .active.fbtn6:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.fbtn:hover, .fbtn1:hover, .fbtn2:hover, .fbtn3:hover, .fbtn4:hover, .fbtn5:hover, .fbtn6:hover, .fbtn:focus, .fbtn1:focus, .fbtn2:focus, .fbtn3:focus, .fbtn4:focus, .fbtn5:focus, .fbtn6:focus {
	color:#333;
	text-decoration:none
}
.fbtn:active, .fbtn1:active, .fbtn2:active, .fbtn3:active, .fbtn4:active, .fbtn5:active, .fbtn6:active, .fbtn.active, .active.fbtn1, .active.fbtn2, .active.fbtn3, .active.fbtn4, .active.fbtn5, .active.fbtn6 {
	outline:0;
	background-image:none;
	-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125)
}
.fbtn.disabled, .disabled.fbtn1, .disabled.fbtn2, .disabled.fbtn3, .disabled.fbtn4, .disabled.fbtn5, .disabled.fbtn6, .fbtn[disabled], [disabled].fbtn1, [disabled].fbtn2, [disabled].fbtn3, [disabled].fbtn4, [disabled].fbtn5, [disabled].fbtn6, fieldset[disabled] .fbtn, fieldset[disabled] .fbtn1, fieldset[disabled] .fbtn2, fieldset[disabled] .fbtn3, fieldset[disabled] .fbtn4, fieldset[disabled] .fbtn5, fieldset[disabled] .fbtn6 {
	cursor:not-allowed;
	pointer-events:none;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
	opacity:0.65;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
.fbtn1 {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#faaa15;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAAA15', endColorstr='#FFF4A62A');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYWExNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0YTYyYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faaa15), color-stop(100%, #f4a62a));
	background-image:-moz-linear-gradient(top, #faaa15 0%, #f4a62a 100%);
	background-image:-webkit-linear-gradient(top, #faaa15 0%, #f4a62a 100%);
	background-image:linear-gradient(to bottom, #faaa15 0%, #f4a62a 100%)
}
.fbtn1:focus, .fbtn1:hover {
	background-color:#f4a62a;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4A62A', endColorstr='#FFFAAA15');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YTYyYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhYWExNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4a62a), color-stop(100%, #faaa15));
	background-image:-moz-linear-gradient(top, #f4a62a 0%, #faaa15 100%);
	background-image:-webkit-linear-gradient(top, #f4a62a 0%, #faaa15 100%);
	background-image:linear-gradient(to bottom, #f4a62a 0%, #faaa15 100%)
}
.fbtn2 {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#fec327;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEC327', endColorstr='#FFDDB426');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYzMyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkYjQyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fec327), color-stop(100%, #ddb426));
	background-image:-moz-linear-gradient(top, #fec327 0%, #ddb426 100%);
	background-image:-webkit-linear-gradient(top, #fec327 0%, #ddb426 100%);
	background-image:linear-gradient(to bottom, #fec327 0%, #ddb426 100%)
}
.fbtn2:focus, .fbtn2:hover {
	background-color:#ddb426;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDDB426', endColorstr='#FFFEC327');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkYjQyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYzMyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddb426), color-stop(100%, #fec327));
	background-image:-moz-linear-gradient(top, #ddb426 0%, #fec327 100%);
	background-image:-webkit-linear-gradient(top, #ddb426 0%, #fec327 100%);
	background-image:linear-gradient(to bottom, #ddb426 0%, #fec327 100%)
}
.fbtn3 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#21242b;
	border:solid 1px #0082CC;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#fed200
}
.fbtn3:focus, .fbtn3:hover {
	background-color:#0082CC;
	color:#fff
}
.fbtn4 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#fff;
	border:solid 1px #0082CC;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#0082CC
}
.fbtn4:focus, .fbtn4:hover {
	background-color:#21242b;
	color:#fff
}
.fbtn5 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#fff;
	border:solid 1px #8c9044;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#8c9044
}
.fbtn5:focus, .fbtn5:hover {
	background-color:#21242b;
	color:#fff
}
.fbtn6 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	color:#fff;
	border:solid 1px #000;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background-color:#000
}
.fbtn6:focus, .fbtn6:hover {
	background-color:#21242b;
	color:#fff
}
.list-style-1 {
	display:block;
	margin:0 0 30px;
	list-style-position:inside
}
.list-style-1 li {
	border-bottom:1px dotted #eee;
	float:none;
	list-style-type:decimal;
	margin:0 !important;
	padding:4px 0 4px 4px
}
.list-style-1 li a {
	color:#777
}
.list-style-1 li a img {
	padding-right:12px;
	width:auto !important
}
.list-style-1 li a:hover {
	color:#0082CC
}
.list-style-2 {
	display:block;
	margin:0 0 30px
}
.list-style-2 li {
	border-bottom:1px dotted #eee;
	display:block;
	float:none;
	margin:0 !important;
	padding:4px 0 4px 24px
}
.list-style-2 li a {
	color:#777
}
.list-style-2 li a img {
	padding-right:12px;
	width:auto !important
}
.list-style-2 li a:hover {
	color:#0082CC
}
.arrow-list, .arrow-list-2, .circle-list {
	list-style:none;
	margin:0;
	padding:0 0 0 24px
}
.arrow-list {
	background:url("../images/list-arrow.png") no-repeat scroll 5px 9px transparent
}
.arrow-list-2 {
	background:url("../images/list-arrow-2.png") no-repeat 2px 8px
}
.circle-list {
	background:url("../images/list-circle.png") no-repeat 4px 9px
}
.nav-tabs {
	border-bottom:1px solid #0082CC
}
.nav-tabs>li {
	float:left;
	margin-bottom:-1px
}
.nav-tabs>li>a {
	margin-right:2px;
	line-height:1.42857;
	border:1px solid transparent;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px;
	border-radius:5px 5px 0 0
}
.nav-tabs>li>a:hover {
	border-color:#0082CC
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color:#fff;
	background-color:#0082CC;
	border:1px solid #21242b;
	border-bottom-color:transparent;
	cursor:default
}
.tab-content>.tab-pane {
	display:none;
	padding:10px
}
.tab-content>.active {
	display:block
}
.pagination {
	display:inline-block;
	padding-left:0;
	margin:10px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.pagination>li {
	display:inline
}
.pagination>li>a, .pagination>li>span {
	text-decoration:none;
	color:#0082CC;
	background-color:#fff;
	border:1px solid #0082CC;
	margin-left:-1px
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left:0
}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>span:hover, .pagination>li>span:focus {
	color:#fff;
	background-color:#0082CC;
	border-color:#0082CC
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
	z-index:2;
	color:#fff;
	background-color:#0082CC;
	border-color:#0082CC;
	cursor:default
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	cursor:not-allowed
}
a.clink {
	color:#0082CC
}
a.clink:hover, a.clink:focus, a.clink:active {
	outline:0 !important;
	text-decoration:none
}
a.clink:hover {
	color:#21242b;
	text-decoration:underline
}
.nsit-header {
	z-index:999;
	position:relative;
	background:#21242b
}
.nsit-header .tqlinks {
	margin:3px 0
}
.nsit-header .tqlinks ul {
	margin:0;
	padding:0;
	list-style:none
}
.nsit-header .tqlinks ul li {
	float:right;
	display:inline;
	padding:3px 10px
}
.nsit-header .tqlinks ul li a {
	color:#fff;
	text-decoration:none
}
.nsit-header #search-form {
	margin:20px 0 10px
}
.nsit-header #search-form .fbtn1 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	border:solid 1px #f6ba0a;
	text-transform:uppercase;
	line-height:28px;
	margin-left:-5px;
	margin-top:0;
	padding:2px 10px
}
.nsit-header .navbar-brand {
	height:130px;
	z-index:2;
	position:relative;
	padding:15px 5px 5px 0px;
	width:800px;
}
@media screen and (max-width: 991px) {
.nsit-header .navbar-brand {
height:auto !important;
width:auto;
}
}
.nsit-header .navbar-brand img {
	max-width:100%;
	height:auto;
	width:100%;
	display:block
}
.nsit-header .topmenu {
	position:relative;
	background:#f6ba0a
}
.nsit-header .navbar {
	margin:0;
	min-height:inherit
}
.nsit-header .navbar-collapse {
	position:relative
}
.nsit-header .navbar-default {
	border:none;
	background:none
}
.nsit-header .navbar-default .navbar-nav li a {
	color:#21242b;
	margin:0 2px;
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	padding:9px 15px
}
.nsit-header .navbar-default .navbar-nav li .active>a {
	color:#fff
}
.nsit-header .navbar-default .navbar-nav li ul ul {
	top:100%;
	padding-top:4px
}
.nsit-header .navbar-default .navbar-nav li ul ul ul {
	left:100%;
	top:0px;
	padding-top:0
}
.nsit-header .navbar-default .navbar-nav li ul ul a {
	display:block;
	text-transform:none;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out
}
.nsit-header .navbar-right .dropdown-menu {
	right:inherit
}
.nsit-header .navbar .nav>li>a i.icon-angle-down {
	top:-1px;
	left:1px;
	font-size:15px;
	position:relative;
	margin:0 !important
}
.nsit-header .navbar-toggle, .nsit-header .navbar-default .navbar-toggle:hover, .nsit-header .navbar-default .navbar-toggle:focus {
	background:#F6BA0A
}
.nsit-header .navbar-toggle:hover {
	background:#dca300 !important
}
.nsit-header .navbar-default .navbar-toggle {
	border-color:#dca300
}
.nsit-header .navbar-default .navbar-toggle .icon-bar {
	background:#fff
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color:#000000;
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF111111');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #111111));
	background-image:-moz-linear-gradient(top, #000000 0%, #111111 100%);
	background-image:-webkit-linear-gradient(top, #000000 0%, #111111 100%);
	background-image:linear-gradient(to bottom, #000000 0%, #111111 100%);
	color:#fff !important;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
@media (min-width: 768px) {
.nsit-header .navbar-collapse {
padding:0
}
.nsit-header .navbar-nav {
top:2px;
margin:8px 0 10px;
position:relative
}
.nsit-header .navbar-default .navbar-nav li a:focus, .nsit-header .navbar-default .navbar-nav li a:hover {
color:#fff
}
.nsit-header .navbar-default .navbar-nav li .active>a:hover, .nsit-header .navbar-default .navbar-nav li .active>a:focus {
background:#000000
}
.nsit-header .navbar-default .navbar-nav li a:hover, .nsit-header .navbar-default .navbar-nav li a:focus {
background:#000000
}
.nsit-header .navbar-default .navbar-nav li .open>a, .nsit-header .navbar-default .navbar-nav li .open>a:hover, .nsit-header .navbar-default .navbar-nav li .open>a:focus {
background:#fefefe;
text-transform:none
}
.nsit-header .navbar-default .navbar-nav li li a {
text-transform:none
}
.nsit-header .navbar-default .navbar-nav li li ul {
position:absolute;
top:0;
left:100%
}
.nsit-header .dropdown-menu {
padding:0;
border:none;
min-width:200px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px;
z-index:9999 !important;
margin-top:-2px !important
}
.nsit-header .dropdown-menu li a {
color:#687074;
font-size:15px;
font-weight:400;
text-transform:none;
padding:6px 15px;
border-bottom:solid 1px #eee
}
.nsit-header .dropdown-menu li a:focus {
background:none;
filter:none !important
}
.nsit-header .dropdown-menu li .active a, .nsit-header .dropdown-menu li a:hover {
color:#fff;
filter:none !important;
background:#687074 !important;
-moz-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
-webkit-transition:all 0.1s ease-in-out;
transition:all 0.1s ease-in-out
}
}
@media (max-width: 767px) {
.nsit-header .navbar-default .navbar-nav .active a {
color:#687074
}
.nsit-header .navbar .search-open {
left:20px;
top:inherit;
bottom:-5px;
padding:15px;
border-top:none;
box-shadow:none;
background:none
}
}
.nsit-footer {
	color:#fff;
	padding:0 0 0 0;
	/*border-top: solid 8px #6E0C0B;
	background:#21242b;*/
	background-image : url('../images/footBG.png');
	border-top: solid 10px #0082CC;
	margin-top: 20px;
}
.nsit-footer .headline {
	padding-bottom:0px
}
.nsit-footer h2, .nsit-footer h2 a {
	text-shadow:none;
	text-decoration:none !important;
	font:16px/21px "Roboto Condensed", Arial, Helvetica, sans-serif;
	/*color: #B10101;*/
	font-weight:900;
	color: #fff;
	margin: 18px 0 5px 0;
	border-bottom: 1px dashed;
}
.nsit-footer ul {
	margin:0;
	padding:0;
	list-style:none
}
.nsit-footer ul li {
	margin: 0;
	font-size: 22px;
	padding: 1px 0;
	/*padding:2px 0 2px 15px;
	background:url("../images/ftr_icon.png") no-repeat scroll 0 7px transparent*/
}
.nsit-footer ul li a {
	color:#fff;
	font:12px/18px "Roboto", Arial, Helvetica, sans-serif;
	font-weight:300;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out
}
.nsit-footer ul li a:hover {
	color:#fbb809;
	text-decoration: none;
}
.nsit-footer .copyright {
	background-color:#000;
	padding:6px 0;
	margin-top:10px;
	font-size: 10px;
	font:12px/16px "Roboto", Arial, Helvetica, sans-serif, sans-serif;
	font-weight:300
}
.nsit-footer .copyright p {
	color:rgba(255, 255, 255, 0.7);
	margin:0;
	padding: 5px 0 3px 0;
}
.nsit-footer .social-bar {
	float:left
}
.nsit-footer .social-bar ul {
	margin:0;
	padding:0;
	list-style:none
}
.nsit-footer .social-bar ul li {
	margin-bottom:2px;
	background:none;
	padding:2px 0
}
.nsit-footer .social-bar ul li .icon {
	color:#fff;
	min-width:33px;
	/*line-height:30px;*/
	text-align:center
}
.nsit-footer .social-bar ul li a {
	margin-left:5px;
	margin-right:0px
}
.nsit-footer .social-bar ul li a:hover {
	text-decoration:none
}
.nsit-footer .social-bar ul li a:hover .icon-facebook {
	color:#204385
}
.nsit-footer .social-bar ul li a:hover .icon-twitter {
	color:#2AA9E0
}
.nsit-footer .social-bar ul li a:hover .icon-google-plus {
	color:#D3492C
}
.nsit-footer .social-bar ul li a:hover .icon-linkedin {
	color:#02669A
}
.nsit-footer .social-bar ul li a:hover .icon-youtube {
	color:#EB2429
}
.nsit-footer .social-bar ul li a .icon {
	/*position:relative;
	background:#21242b;
	border:solid 2px #fff;
	-moz-border-radius:45px;
	-webkit-border-radius:45px;
	border-radius:45px;*/
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	font-size:2.5em
}
#home_about {
	/*background-color:#fff;*/
	margin-bottom:20px
}
#home_about:before, #home_about:after {
	content:" ";
	display:table
}
#home_about:after {
	clear:both
}
#home_about h2 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	border-bottom: solid 3px #DF0E0F;
	padding-bottom:5px;
	margin-top:0
}
#home_about .fbtn3 {
	padding:3px 15px;
	line-height:18px
}
#home_about .fbtn3 i {
	margin-left:10px;
	font-size:13px
}
#home_about .ql-list {
	margin-top:35px
}
#home_about .ql-list ul {
	margin:0;
	padding:0;
	list-style:none
}
#home_about .ql-list ul li {
	display:block;
	margin-bottom:10px
}
#home_about .ql-list ul li:before, #home_about .ql-list ul li:after {
	content:" ";
	display:table
}
#home_about .ql-list ul li:after {
	clear:both
}
#home_about .ql-list ul li .link_text {
	padding:10px 0 5px 55px
}
#home_about .ql-list ul li .link_text a {
	font:400 16px/24px "Roboto Condensed", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#21242b;
	display:block;
	border-bottom:solid 2px rgba(0, 0, 0, 0.1)
}
#home_about .ql-list ul li .link_text a:hover {
	text-decoration:underline;
	color:#0082CC
}
.icon-ql1 {
	background:url("icons/icon-ql1.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql2 {
	background:url("icons/icon-ql2.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql3 {
	background:url("icons/icon-ql3.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql4 {
	background:url("icons/icon-ql4.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql5 {
	background:url("icons/icon-ql5.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql6 {
	background:url("icons/icon-ql6.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql7 {
	background:url("icons/icon-ql7.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
.icon-ql8 {
	background:url("icons/icon-ql8.jpg") no-repeat 0 0;
	float:left;
	width:50px;
	height:50px
}
#home_news {
	background-color:#ebebeb;
	padding:15px
}
#home_news:before, #home_news:after {
	content:" ";
	display:table
}
#home_news:after {
	clear:both
}
#home_news .box {
	background-color:#fff;
	border: solid 2px #DF0E0F;
}
#home_news .box:before, #home_news .box:after {
	content:" ";
	display:table
}
#home_news .box:after {
	clear:both
}
#home_news .box h4 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	border-bottom: solid 2px #DF0E0F;
	margin-top:0;
	background-color: beige;
	padding:5px 10px
}
#home_news .box .button-block {
	padding:15px 10px
}
#home_news .box .button-block .fbtn3 {
	background-color:#21242b;
	color:#fff;
	border:solid 1px #21242b;
	padding:3px 15px;
	line-height:18px
}
#home_news .box .button-block .fbtn3:hover, #home_news .box .button-block .fbtn3:focus {
	background-color:#fff;
	color:#21242b
}
#home_news .box .button-block .fbtn3 i {
	margin-left:10px;
	font-size:13px
}
#home_news .link_text {
	padding:10px;
	min-height:225px
}
#home_news .link_text ul {
	margin:0;
	padding:0;
	list-style:none
}
#home_news .link_text ul li {
	display:block;
	margin-bottom:15px
}
#home_news .link_text ul li:before, #home_news .link_text ul li:after {
	content:" ";
	display:table
}
#home_news .link_text ul li:after {
	clear:both
}
#home_news .link_text ul li a {
	font:400 15px/21px "Roboto", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#0082CC;
	display:block;
	border-bottom:dashed 1px #0082CC;
	padding-bottom:10px
}
#home_news .link_text ul li a:hover {
	color:#21242b;
	border-bottom:dashed 1px #21242b
}
#home_news .link_text2 {
	padding:10px;
	min-height:225px
}
#home_news .link_text2 ul {
	margin:0;
	padding:0;
	list-style:none
}
#home_news .link_text2 ul li {
	display:block;
	margin-bottom:10px
}
#home_news .link_text2 ul li:before, #home_news .link_text2 ul li:after {
	content:" ";
	display:table
}
#home_news .link_text2 ul li:after {
	clear:both
}
#home_news .link_text2 ul li a {
	font:400 13px/19px "Roboto", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#0082CC;
	display:block;
	border-bottom:dashed 1px #0082CC;
	padding-bottom:5px;
	background:url("../images/circle_icon.png") no-repeat 0 5px;
	padding-left:15px
}
#home_news .link_text2 ul li a:hover {
	color:#21242b;
	border-bottom:dashed 1px #21242b
}
#home_news .link_text3 {
	padding:10px 20px;
	min-height:225px
}
#home_news .link_text3 ul {
	margin:0;
	padding:0;
	list-style:none
}
#home_news .link_text3 ul li {
	display:block;
	margin-bottom:5px
}
#home_news .link_text3 ul li:before, #home_news .link_text3 ul li:after {
	content:" ";
	display:table
}
#home_news .link_text3 ul li:after {
	clear:both
}
#home_news .link_text3 ul li a {
	font:400 14px/19px "Roboto", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	display:block;
	padding:9px 10px;
	background-color:#0082CC;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	transition:all 0.5s linear
}
#home_news .link_text3 ul li a:hover {
	color:#fff;
	background-color:#21242b
}
#home_course {
	background-color:#fff;
	margin:20px 0 50px
}
#home_course:before, #home_course:after {
	content:" ";
	display:table
}
#home_course:after {
	clear:both
}
#home_course h4 {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight:600;
	border-bottom:solid 2px #f6ba0a;
	margin-top:0;
	padding:5px 0
}
#home_course .director_message .img-thumbnail {
	border:solid 1px #21242b
}
#home_course .director_message .img-thumbnail img {
	width:100%
}
#home_course .director_message .content {
	padding-top:25px
}
#home_course .link_text {
	padding:10px;
	min-height:200px
}
#home_course .link_text ul {
	margin:0;
	padding:0;
	list-style:none
}
#home_course .link_text ul li {
	display:block;
	margin-bottom:5px
}
#home_course .link_text ul li:before, #home_course .link_text ul li:after {
	content:" ";
	display:table
}
#home_course .link_text ul li:after {
	clear:both
}
#home_course .link_text ul li a {
	font:400 14px/19px "Roboto", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	display:block;
	padding:16px 10px;
	background-color:#0082CC;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	transition:all 0.5s linear
}
#home_course .link_text ul li a.link1 {
	background-color:#8c9044
}
#home_course .link_text ul li a.link2 {
	background-color:#7d7b7c
}
#home_course .link_text ul li a.link3 {
	background-color:#a88b61
}
#home_course .link_text ul li a.link4 {
	background-color:#3f779a
}
#home_course .link_text ul li a.link5 {
	background-color:#903932
}
#home_course .link_text ul li a.link6 {
	background-color:#c16522
}
#home_course .link_text ul li a:hover {
	color:#fff;
	background-color:#21242b
}
#home_gallery {
	background-color:#ebebeb;
	margin-bottom:20px
}
#home_gallery:before, #home_gallery:after {
	content:" ";
	display:table
}
#home_gallery:after {
	clear:both
}
#home_gallery .fbtn3 {
	font:600 21px/24px "Roboto Condensed", Arial, Helvetica, sans-serif;
	background-color:#21242b;
	color:#fff;
	border:solid 1px #21242b;
	padding:8px 15px;
	line-height:18px
}
#home_gallery .fbtn3:hover, #home_gallery .fbtn3:focus {
	background-color:#fff;
	color:#21242b
}
#home_gallery .gallery {
	margin-top:-35px
}
#home_gallery .gallery .thumb {
	margin-top:20px
}
#home_gallery .gallery .thumb img {
	width:100%
}
#home_gallery .recruitment {
	margin-top:-35px
}
#home_gallery .recruitment .thumb img {
	width:100%
}
#home_gallery .bx-wrapper .bx-prev {
	left:-32px;
	background:url(../images/controls.png) no-repeat -10px -48px
}
#home_gallery .bx-wrapper .bx-prev:hover {
	background-position:-10px -4px
}
#home_gallery .bx-wrapper .bx-next {
	right:-32px;
	background:url(../images/controls.png) no-repeat -57px -48px
}
#home_gallery .bx-wrapper .bx-next:hover {
	background-position:-57px -4px
}
#home_gallery .bx-wrapper .bx-controls-direction a {
	position:absolute;
	top:50%;
	margin-top:-16px;
	outline:0;
	width:32px;
	height:36px;
	text-indent:-9999px;
	z-index:9999
}
#home_gallery .bx-wrapper .bx-controls-direction a a.disabled {
	display:none
}
@media screen and (max-width: 991px) {
#home_gallery .bx-wrapper .bx-controls-direction {
visibility:hidden;
display:none
}
}
.ticker {
	height:250px;
	margin:0;
	padding:0;
	width:auto;
	overflow:hidden
}
.sidebar_nav {
	background:#ebebeb;
	padding:10px
}
.sidebar_nav li {
	background:#fff;
	border-bottom:solid 1px #ebebeb
}
.sidebar_nav li a {
	color:#0082CC
}
.sidebar_nav li a:hover {
	color:#21242b
}
.sidebar_nav li label {
	font-weight:normal;
	padding:5px 10px 5px 15px;
	color:#0082CC
}
.sidebar_nav li li {
	padding-left:25px
}
.sidebar_nav li li label {
	padding:5px 10px 5px 25px
}
.sidebar_box {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	border:solid 5px #21242b;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:#f6ba0a
}
.bannerInsideWrapper {
	width:100%;
	height:auto;
	padding:10px 0;
	background-color:#f4f4f4;
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #eeeeee));
	background-image:-moz-linear-gradient(top, #f4f4f4 0%, #eeeeee 100%);
	background-image:-webkit-linear-gradient(top, #f4f4f4 0%, #eeeeee 100%);
	background-image:linear-gradient(to bottom, #f4f4f4 0%, #eeeeee 100%);
	border-bottom:solid 1px rgba(0, 0, 0, 0.2)
}
.bannerInsideWrapper:before, .bannerInsideWrapper:after {
	content:" ";
	display:table
}
.bannerInsideWrapper:after {
	clear:both
}
.bannerInsideWrapper .banner-content {
	background-color:#fff;
	padding:7px;
	border:solid 2px #ebebeb
}
.bannerInsideWrapper .banner-content img {
	width:100%;
	height:auto
}
.breadcrumbWrapper {
	width:100%;
	height:auto;
	padding:10px 0;
	background-color:#fff;
	border-bottom:solid 1px rgba(0, 0, 0, 0.2)
}
.breadcrumbWrapper .breadcrumb {
	padding:0;
	margin-bottom:0;
	list-style:none;
	background-color:#fff;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px
}
.breadcrumbWrapper .breadcrumb>li {
	display:inline-block
}
.breadcrumbWrapper .breadcrumb>li+li:before {
	content:"/";
	padding:0 5px;
	color:#0082CC
}
.breadcrumbWrapper .breadcrumb>li.first {
	color:#0082CC
}
.breadcrumbWrapper .breadcrumb>li.first .fa {
	font-size:1.3em;
	padding:0 5px 0 10px
}
.breadcrumbWrapper .breadcrumb>li a {
	color:#0082CC
}
.breadcrumbWrapper .breadcrumb>.active {
	color:#777
}
#faculty .faculty-list {
	width:100%;
	height:auto;
	min-height:100px;
	padding:10px;
	margin-bottom:10px;
	background:#eee;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	transition:all 0.4s linear
}
#faculty .faculty-list:before, #faculty .faculty-list:after {
	content:" ";
	display:table
}
#faculty .faculty-list:after {
	clear:both
}
#faculty .faculty-list:hover {
	background-color:#fef6cc;
	background-color:rgba(254, 210, 0, 0.2)
}
#faculty .faculty-list .thumb img {
	width:100%;
	height:auto;
	display:block;
	border:solid 1px #0082CC;
	border-bottom:solid 5px #0082CC
}
#faculty .faculty-list .thumb img:hover {
	border:solid 1px #21242b;
	border-bottom:solid 5px #21242b
}
#faculty .faculty-list .content ul {
	margin:0;
	padding:0;
	list-style:none outside none
}
#faculty .faculty-list .content ul li {
	padding:3px 0
}
#faculty .faculty-list .content ul li .title {
	font:bold 16px/21px "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin:0 0 5px
}
#faculty .faculty-list .content ul li .fbtn3 {
	margin:5px 0 0
}
.tab-content>.tab-pane {
	padding:10px 0
}
.linked-list ul {
	margin:0;
	padding:0;
	list-style:none
}
.linked-list ul li a {
	font:16px/21px "Source Sans Pro", Arial, Helvetica, sans-serif;
	padding:5px 10px;
	background-color:#e5e5e5;
	background-color:rgba(0, 0, 0, 0.1);
	color:#0082CC;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	display:block;
	margin:4px 0
}
.linked-list ul li a:hover {
	background-color:#fef6cc;
	background-color:rgba(254, 210, 0, 0.2);
	color:#21242b;
	text-decoration:none
}
#vtabs .tabs-left {
	border-bottom:none;
	padding-top:2px;
	border-right:none;
	margin-top:15px
}
#vtabs .tabs-left>li {
	float:none;
	margin-bottom:2px;
	margin-right:-3px
}
@media screen and (max-width: 767px) {
#vtabs .tabs-left>li {
margin-right:0
}
}
#vtabs .tabs-left>li .active>a, #vtabs .tabs-left>li .active>a:hover, #vtabs .tabs-left>li .active>a:focus {
	border-bottom-color:#ddd;
	border-right-color:transparent
}
#vtabs .nav-tabs>li>a {
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px;

	border:1px solid #777;

	background:1px solid #eee
}
@media screen and (max-width: 767px) {
#vtabs .nav-tabs>li>a {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border-right:1px solid #777
}
}
#vtabs .nav-tabs>li>a .active>a, #vtabs .nav-tabs>li>a .active:hover, #vtabs .nav-tabs>li>a .active:focus {
	border-right:none
}
#vtabs .tab-content {
	border:solid 1px #0082CC;
	min-height:350px;
	padding:10px;
	margin-bottom:15px
}
#vtabs .tab-content h3 {
	margin-top:0
}
#contact .box {
	background-color:#f2f2f2;
	background-color:rgba(0, 0, 0, 0.05);
	padding:10px;
	margin-bottom:15px;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	transition:all 0.5s linear;
	border:solid 1px #eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
#contact .box:hover {
	background-color:#fef6cc;
	background-color:rgba(254, 210, 0, 0.2)
}
.tenderImage {
	margin-bottom: 10px;
}
.noMarginTopTender {
	margin-top: 0px !important;
}
.news-item {
	text-align: justify;
}
p {
	text-align: justify;
}
